:host {
  display: block;
}

:host ::ng-deep {
  .p-datepicker {
    width: 100%;
    min-width: 180px;
    
    .p-inputtext {
      width: 100%;
    }
  }
  
  td .p-datepicker {
    display: block;
  }
}
